@import "style/variable.scss";

.library {
    width: 100vw;
    padding: $layout_padding;

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 14px;

    &__category {
        // max-height: 320px;
        height: auto;
        width: 220px;
        padding: 8px 12px;

        position: sticky;
        top: 80px;

        background-color: $white_color;
        border-radius: $border_intensity;
        overflow: hidden;
    }

    &__peoples {
        // width: 50%;
        // 왼쪽 카테고리가 없을 때
        width: 60%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
    }

    &__recommend {
        max-height: 500px;
        width: 330px;

        padding: 10px;

        position: sticky;
        top: 80px;

        background-color: $white_color;
        border-radius: $border_intensity;
    }
}

.peoples {
    &__category {
        align-self: flex-end;

        width: auto;
        height: 2rem;
        padding: 0px 0.8rem;
        margin-bottom: 10px;

        display: flex;
        // 왼쪽 카테고리가 없을 때
        align-self: flex-start;

        justify-content: flex-end;
        align-items: center;

        position: relative;

        background-color: $white_color;
        border-radius: $border_intensity;

        &:hover {
            & .peoples__category--content {
                visibility: visible;
                opacity: 1;
                transform: translateX(0%);
            }
        }

        &--content {
            visibility: hidden;
            position: absolute;
            z-index: 2;
            opacity: 0;

            transform: translateX(10%);
            top: 110%;
            // right: 0;

            // 왼쪽 카테고리가 없을 때
            left: 0;

            background-color: $white_color;
            transition: all 0.5s;

            width: 10rem;
            height: 200px;
            padding: 6px 12px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            row-gap: 20px;

            box-shadow: $strong_shadow;

            & > span {
                transition: color 0.5s;
                cursor: pointer;

                &:hover {
                    color: $emph_color;
                }
            }
        }
    }

    &__list {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &__profile {
            all: unset;
            color: initial;

            width: 100%;
            height: auto;

            // width: 260px;
            // height: 260px;

            // margin-left: 1rem;
            margin-bottom: 1rem;
            padding: 10px 12px;
            background-color: $white_color;
            border-radius: $border_intensity;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            cursor: pointer;
            transition: box-shadow 0.5s;
        }
    }
}

.peoples__list__profile {
    &:hover {
        box-shadow: $normal_shadow;
    }

    &__logo {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__img {
            width: 100px;
            height: 100px;
            border-radius: 50%;

            overflow: hidden;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__div {
            margin-top: 1rem;
            width: 34px;
            height: 34px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: background-color 0.3s;

            &__heart {
                width: 20px !important;
                height: 20px;
                opacity: 0.5;
            }

            &:hover {
                background-color: $background_color;
            }
        }
    }

    &__info {
        height: 50%;

        &__name {
            font-size: 1.2rem;
        }

        &__major {
            font-size: 0.8rem;
            font-weight: 100;

            margin-bottom: 1rem;
        }
    }
}

.library__recommend {
    &__title {
        margin-bottom: 10px;
    }
}

.library__category {
    &__checkbox {
        display: none;
    }
    &__body {
        height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    &__checkbox:checked + .library__category__body {
        height: 100px;
    }
}
