@import "style/variable.scss";

.book {
    width: 100vw;
    padding: $layout_padding;

    display: flex;
    gap: 20px;

    &__profile {
        width: 60%;
        height: 1200px;
        margin-bottom: 20px;
        padding: 10px 12px;

        background-color: $white_color;
        border-radius: $border_intensity;
    }

    &__loadmap {
        width: 40%;
        height: 600px;
        background-color: $white_color;
        border-radius: $border_intensity;

        position: sticky;
        top: 80px;
    }
}

.book__profile__info {
    width: 100%;
    height: 250px;
    display: flex;

    &__vertical {
        width: 180px;
        height: 100%;

        &__image {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: pink;
            overflow: hidden;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__follow {
            width: 100%;
            height: 70px;
            padding: 4% 6%;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            // background-color: green;
        }
    }

    &__summary {
        width: 100%;
        height: 100%;
    }
}

.book__profile__info__vertical__follow {
    & > button {
        all: unset;
        height: 30px;

        padding: 4% 4%;
        border-radius: $border_intensity;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $background_color;
        }
        &:active {
            background-color: $emph_color;
            color: $white_color;
        }
    }

    &__heart {
        width: 35px;
        height: 35px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        transition: background-color 0.3s;
        &:hover {
            background-color: $background_color;
        }
    }
}

.book__profile__question {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    &__write {
        width: 100%;
        height: 50px;
        padding: 10px 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: $border_intensity;
        background-color: $background_color;

        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $emph_color;
        }

        &:active {
            background-color: $bold_color;
            color: $white_color;
        }
    }
}
