@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import "style/variable.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

#root {
    background-color: $background_color;
}

.page {
    width: 100vw;
    min-height: 100vh;
    
    background-color: $background_color;
    padding-top: 20px;
}

.slide-enter,
.slide-exit {
    transition: all 1000ms ease-in-out;
}

.slide-enter {
    position: absolute;
    opacity: 0;
    transform: translateX(20%);
}

.slide-enter.slide-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.slide-exit {
    // position: absolute;
    opacity: 1;
    transform: translateX(0%);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-20%);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    &__content {
        width: 34vw;
        height: 60vh;
        background-color: white;
    }

    &--show {
        opacity: 1;
        visibility: visible;
    }
}
