@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import "style/variable.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

#root {
    background-color: $background_color;
}

.page {
    width: 100vw;
    min-height: 100vh;

    background-color: $background_color;
    padding-top: 20px;
}

.slide-enter,
.slide-exit {
    transition: all 1000ms ease-in-out;
}

.slide-enter {
    position: absolute;
    opacity: 0;
    transform: translateX(20%);
}

.slide-enter.slide-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.slide-exit {
    // position: absolute;
    opacity: 1;
    transform: translateX(0%);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-20%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 500px;
        height: 620px;
        padding: 12px 16px;
        background-color: white;
        transition: all 1s;
    }

    &--transition {
        &-enter,
        &-exit {
            transition: all 500ms ease-in-out;
        }

        &-enter {
            opacity: 0;
            .modal__content {
                transform: translateX(20%);
            }
        }

        &-enter-active {
            opacity: 1;
            .modal__content {
                transform: translateX(0);
            }
        }

        &-exit {
            opacity: 1;
            .modal__content {
                transform: translateX(0%);
            }
        }

        &-exit-active {
            opacity: 0;
            .modal__content {
                transform: translateX(-20%);
            }
        }
    }
}
