@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}


.slide-enter,
.slide-exit {
    transition: transform 1200ms ease-in-out;
}

.slide-enter {
    position: absolute;
    transform: translateX(100vw);
}

.slide-enter.slide-enter-active {
    transform: translateX(0%);
}

.slide-exit {
    position: absolute;
    transform: translateX(0%);
}

.slide-exit-active {
    transform: translateX(-100vw);
}