@import "style/variable.scss";

.nav {
    width: 100%;
    height: 70px;
    background-color: $white_color;

    position: sticky;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        all: unset;
        color: black;
        cursor: pointer;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > * {
            margin-right: 6px;
        }

        &__logo {
            &--emph {
                color: $bold_color;
            }
        }
    }

    &__category {
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__element {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 6vw;
            height: 100%;
            min-width: 4vw;
        }
    }
}

.nav__right__search {
    input {
        all: unset;
        height: 36px;
        width: 100%;

        background-color: $background_color;
        border-radius: 12px;
        padding-left: 10px;

        transition: width 0.3s;
    }

    input:focus {
        width: 26vw;
    }
}

.nav__category__element {
    &__border {
        height: 3px;
        width: 100%;
        background-color: $bold_color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s;

        &--selected {
            transform: scaleX(1);
        }
    }
}
