$white_color: #f6f5f5;
$background_color: #d3e0ea;
$emph_color: #1687a7;
$bold_color: #276678;

$border_intensity: 20px;

$layout_padding: 0px 6vw;

$normal_shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
$strong_shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);
