@import "style/variable.scss";

.writing {
    width: 100vw;
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;

        width: 50%;
        padding-bottom: 100px;

        &__title {
            width: 100%;
            display: flex;
            justify-content: space-between;

            margin-bottom: 10px;
        }

        &__ps {
            width: 100%;
            text-align: right;
            font-size: 0.85rem;
            opacity: 0.8;
        }
    }
}

.writing__form__title__input {
    position: relative;
    width: 100%;

    & input {
        all: unset;
        width: 70%;
        height: 44px;
        background-color: white;

        padding-left: 10px;

        &:focus + .writing__form__title__input--placeholder,
        &:valid + .writing__form__title__input--placeholder {
            opacity: 0;
        }
    }

    &--placeholder {
        position: absolute;
        cursor: text;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);

        transition: opacity 0.5s;
    }
}

.clock {
    width: auto;
    height: auto;

    display: flex;
    align-items: center;

    &--element {
        width: 15px;
        height: 28px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;

        &:nth-child(even) {
            margin-right: 6px;
        }

        &::before {
            content: " ";
            width: 100%;
            height: 50%;
            transform-origin: center top;
            transform: rotateX(180deg);
            background: black;

            transition: 0.7s transform ease-in-out;
        }

        &:hover::before {
            transform: rotateX(0);
        }
    }
}

.react-mde {
    background-color: white;
}

.mde-text,
.mde-preview {
    // min-height: 74vh !important;

    &-content img {
        max-width: 100%;
        max-height: 100%;
    }
}
