.layout {
    width: 100vw;
    // padding: 0px 10%;

    & > * {
        padding: 0px 10%;
    }
}

.page {
    width: 100vw;
    min-height: 100vh;
    background-color: #F3F2EE;

    padding-top: 10px;
}